<div class="funtions">
        <div class="icon-admin">
          <a href="">
            <i class="fa-brands fa-accusoft"></i>
            <h3>Adminator</h3>
          </a>
        </div>

        <div class="list-funtions">
          <div class="child">
            <a href="/admin/book" class="dashboard">
              <div class="icon">
                <i class="fa-solid fa-house-chimney"></i>
              </div>
              <div class="name">
                <span>Quản lý đầu sách</span>
              </div>
            </a>
          </div>

          <div class="child">
            <a href="/admin/category" class="manage-category">
              <div class="icon">
                <i class="fa-solid fa-building-columns"></i>
              </div>
              <div class="name">
                <span>Quản danh mục sách</span>
              </div>
            </a>
          </div>
        </div>
      </div>